@import '../../App.scss';


.Footer {
    width: 100%;
    @include flexcolumn;
    margin: 170px 0 0 0;
}


.Contact {
    width: 100%;
    box-sizing: border-box;
    padding: 0 160px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0 0 128px 0;
}
.Contact p {
    max-width: 560px;
}
.Contact a {
    font-weight: bold;
    text-decoration: underline;
}

.ActualFooter {
    width: 100%;
    @include flexcolumn;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    padding: 110px 0 200px;
}


.ActualFooter .LogoBox p, .ActualFooter .LogoBox a {
    color: white;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: normal;
}

.copyw {
    @include fourteenpxfont;
    text-align: center;
    color: white;
    margin: 10px 0 0 0;
}

/* QUERIES */

/* Mobile */
@media only screen and (max-width : 480px) {
    .Footer {
        width: 100%;
        @include flexcolumn;
        margin: 120px 0 0 0;
    }
    .Contact {
        width: 100%;
        box-sizing: border-box;
        padding: 0 72px;
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin: 0 0 60px 0;
    }

    .ActualFooter {
        padding: 60px 0 140px;
    }

    .ActualFooter .LogoBox p, .ActualFooter .LogoBox a {
        color: white;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: normal;
    }
    .copyw {
        @include twelvepxfont;
        text-align: center;
        color: white;
        margin: 10px 0 0 0;
    }

}

@media only screen and (min-width: 1500px){
}