@import '../../App.scss';

.Header {
    width: 100%;
    box-sizing: border-box;
    padding: 141px 0 0 160px;
    @include flexcolumn;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url('../../images/bg_lines2.png');
    background-repeat: no-repeat;
    background-position: 0 110px;
    background-size: 1690px 218px;
}

.HeaderLogo {
    margin: 0 0 47px 0;
}

.HeaderIntro {
    @include twentypxfont;
    width: 100%;
    max-width: 606px;
    margin: 22px 0 46px 0;
}

.HeaderBackground {
    box-sizing: border-box;
    padding: 112px 50px 0 137px;
    width: 100%;
}


.HeaderBackground p {
    font-style: italic;
    font-size: 1.875rem;
    line-height: 2.75rem;
    max-width: 705px;
    width: 100%;
}

/* QUERIES */

/* Mobile */
@media only screen and (max-width: 810px) and (-webkit-min-device-pixel-ratio: 2) {

    .Header {
        padding: 82px 0 0 72px;
        background-position: -134px 72px;
        background-size: 943px 121px;
    }
    .HeaderIntro {
        @include twentypxfont;
        width: 100%;
        max-width: 85%;
        margin: 15px 0 35px 0;
    }

    .HeaderBackground {
        box-sizing: border-box;
        padding: 85px 0 0 0;
        width: 100%;
    }
    
    
    .HeaderBackground p {
        font-style: italic;
        font-size: 1.6875rem;
        line-height: 2.15rem;
        max-width: 85%;
        width: 100%;
    }
}



@media only screen and (min-width: 1500px){
}