@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@import "~antd/dist/antd.css";


$greentxt: #20F092;
$brightgreen: #00FB89;
$greylink: #999999;
$grey555: #555555;
$blackish: #333333;


@mixin font {
  font-family: 'Chivo', sans-serif;
}

@mixin flexrow {
  display: flex;
  flex-direction: row;
}

@mixin flexcolumn {
  display: flex;
  flex-direction: column;
}

@mixin lightshadow {
  -webkit-box-shadow: 0px 8px 16px 0px rgba(100,117,155,0.1);
  -moz-box-shadow: 0px 8px 16px 0px rgba(100,117,155,0.1);
  box-shadow: 0px 8px 16px 0px rgba(100,117,155,0.1);
}


/* font mixins */
@mixin twelvepxfont {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}

@mixin fourteenpxfont {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}
@mixin sixteenpxfont {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}
@mixin twentypxfont {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

.App {
  @include font;
}

.flexer {
  flex: 1;
}

h1 {
  @include font;
  font-size: 3.75rem;
  line-height: 4.5rem;
  font-weight: bold;
  color: black;
  margin: 0;
}

h4 {
  @include font;
  @include sixteenpxfont;
  font-weight: bold;
  color: black;
  margin: 0;
}

a, a:hover {
  color: black;
}


.bold {
  font-weight: bold;
}


button {
  transition-property: all;
  transition-duration: 0.05s !important;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

button:hover {
  transform: scale(0.98,0.98);
}

button[disabled]:hover {
  transform: none;
}



/* QUERIES */

/* Mobile */
@media only screen and (max-width : 480px) {
  h1 {
    @include font;
    font-size: 1.6875rem;
    line-height: 2rem;
  }

  a.txtlink {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 900px){
  h1 {
    @include font;
    font-size: 1.6875rem;
    line-height: 2rem;
  }
}

// @media only screen and (min-width: 1500px){
//   h2 {
//     font-size: 1.875rem;
//     line-height: 2.625rem;
//   }
//   .ant-btn-lg {
//     font-size: 1.25rem !important;
//     padding: 20px 72px 19px 72px !important;
//   }
// }